body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111827;
  position: sticky;
  top: 0;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-area img {
  width: 40px;
  border-radius: 8px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #cbd5e1;
}

nav a:hover {
  color: #22c55e;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 40px;
  color: #22c55e;
}

.hero-text p {
  color: #cbd5e1;
  margin: 15px 0;
}

button {
  background: #22c55e;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.hero-img img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(34, 197, 94, 0.5);
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  width: 200px;
  text-align: center;
}

.card h3 {
  color: #22c55e;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  margin-top: 30px;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.login-box {
  background: #111827;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.3);
}

.login-box input,
.login-box select {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.login-box button {
  width: 100%;
  margin-top: 10px;
}

.selector-box {
  background:#111827;
  padding:30px;
  border-radius:15px;
  text-align:center;
  width:300px;
  box-shadow:0 0 20px rgba(34,197,94,0.3);
}

.role-btn {
  display:block;
  margin:10px 0;
  padding:12px;
  border-radius:10px;
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.admin {
  background:#ef4444;
}

.cashier {
  background:#3b82f6;
}

.rider {
  background:#22c55e;
}

.role-btn:hover {
  opacity:0.8;
}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  position: fixed;
  padding: 20px;
}

.sidebar h2 {
  color: #22c55e;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  margin: 15px 0;
}

.sidebar a:hover {
  color: #22c55e;
}

/* MAIN */
.main {
  margin-left: 240px;
  padding: 20px;
}

h1 {
  color: #22c55e;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card p {
  font-size: 20px;
  color: #22c55e;
}

/* TABLE */
.table-box {
  margin-top: 30px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #334155;
}

.paid {
  color: #22c55e;
}

.pending {
  color: #facc15;
}